.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

thead{
  display:flex;
  align-items:center;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
  background:linear-gradient( rgb(194, 238, 238), rgb(125, 164, 164));

}
thead{
  display:flex;
  align-items:center;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
  background:linear-gradient( rgb(194, 238, 238), rgb(125, 164, 164));

}
